:host(.KMenu) {
  z-index: $z-index-high;
}

.KMenu-toolbar {
  height: 56px;
  width: 100%;
  background-color: white;
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;

  &.KMenu--is-shadowed {
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.3);
  }

  .KMenu-burger-button {
    cursor: pointer;
    transition: 0.3s;
    padding: 8px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    outline: none;
    will-change: transform, background-color, opacity;
    opacity: 1;

    &:hover {
      background-color: rgba($color: $gray-100, $alpha: 0.2);
    }

    &:active {
      background-color: rgba($color: $gray-100, $alpha: 0.4);
      transform: scale(0.9);
    }

    &.KMenu-burger-hide-xs {
      opacity: 0;

      @include mobile {
        opacity: 1;
      }
    }

    &.KMenu-burger-hide-sm {
      @include mobile {
        opacity: 0;
      }

      @include small-tablet {
        opacity: 1;
      }
    }

    &.KMenu-burger-hide-md {
      @include tablet {
        opacity: 0;
      }

      @include desktop {
        opacity: 1;
      }
    }

    &.KMenu-burger-hide-lg {
      @include desktop {
        opacity: 0;
      }

      @include desktop-full {
        opacity: 1;
      }
    }

    &.KMenu-burger-hide-xl {
      @include desktop-full {
        opacity: 0;
      }
    }

    &.KMenu-burger-disable {
      display: none;
    }
  }
}

.KMenuContent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
