:host(.KMenu--is-fixed) {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 99999;
}

.KMenu-nav {
  display: none;
  @include desktop {
    display: block;
  }
}

.KMenu {
  height: 56px;
  width: 100%;
  background-color: white;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  opacity: 1;
  box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.3);
  will-change: opacity;

  @include desktop {
    box-shadow: none;
    border-bottom: 1px solid $gray-100;
  }

  .KMenu-burger-button {
    cursor: pointer;
    transition: 0.3s;
    padding: 8px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    outline: none;
    will-change: transform, background-color;

    &:hover {
      background-color: rgba($color: $gray-100, $alpha: 0.2);
    }

    &:active {
      background-color: rgba($color: $gray-100, $alpha: 0.4);
      transform: scale(0.9);
    }

    @include desktop {
      opacity: 0;
    }
  }

  .KMenu-user {
    display: flex;
    align-items: center;
    color: $primary-color;

    &.KMenu-user--is-disabled {
      display: none;
    }

    .KMenu-user-notification {
      font-weight: normal;
      cursor: pointer;
      border-radius: 50%;
      padding: 8px;
      transition: 0.3s;
      will-change: transform, background-color;
      position: relative;

      &:hover {
        background-color: rgba($color: $primary-100, $alpha: 0.2);
      }

      &:active {
        transform: scale(0.9);
        background-color: rgba($color: $primary-100, $alpha: 0.4);
      }

      &::before {
        transform: rotate(45deg);
      }

      .KMenu-user-bell {
        &.animate {
          animation-name: notification;
          animation-duration: 0.3s;
          animation-timing-function: ease-out;
          animation-iteration-count: 4;
          animation-direction: alternate;
          transform-origin: center top;
        }
      }

      &::after {
        content: attr(data-count);
        min-width: 14px;
        height: 14px;
        color: white;
        background-color: $primary-color;
        font-size: 10px;
        font-weight: bold;
        border-radius: 50%;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -6px;

        opacity: 0;
        transition: 0.3s;
        transform: scale(0.5);
        will-change: opacity, transform;
      }

      &.KMenu--is-notified {
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    .KMenu-user-avatar {
      display: none;
      font-weight: normal;
      cursor: pointer;
      transition: 0.3s;
      will-change: transform;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }

      @include desktop {
        display: block;
      }
    }
  }
}

@keyframes notification {
  from {
    transform: rotate(35deg);
  }

  to {
    transform: rotate(-35deg);
  }
}
