.KMenu-nav {
  display: none;
  @include desktop {
    display: block;
  }
}

.KMenu {
  height: 56px;
  width: 100%;
  background-color: white;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  opacity: 1;
  box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.3);
  will-change: opacity;

  @include desktop {
    box-shadow: none;
    border-bottom: 1px solid $gray-100;
  }

  &.KMenu--is-shadowed {
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.3);
  }

  .KMenu-burger-button {
    cursor: pointer;
    transition: 0.3s;
    padding: 8px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    outline: none;
    will-change: transform, background-color;

    &:hover {
      background-color: rgba($color: $gray-100, $alpha: 0.2);
    }

    &:active {
      background-color: rgba($color: $gray-100, $alpha: 0.4);
      transform: scale(0.9);
    }

    @include desktop {
      opacity: 0;
    }
  }

  .KMenu-user {
    display: flex;
    align-items: center;
    color: $primary-color;

    &.KMenu-user--is-disabled {
      display: none;
    }

    .KMenu-user-avatar {
      display: none;
      font-weight: normal;
      cursor: pointer;
      transition: 0.3s;
      will-change: transform;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }

      @include desktop {
        display: block;
      }
    }
  }
}
