:host(.KDropdown) {
  position: relative;
  width: 100%;
}

.KDropdown-dispatcher {
  display: inline-block;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;

  & > .KDropdown-icon {
    position: relative;
    top: 2px;
    padding-left: 8px;
  }
}

.KDropdown-input {
  background-color: transparent;
  border: 1px solid $gray-200;
  color: $gray-200;

  & > .KDropdown-icon {
    color: color(primary-color);
    font-weight: bold;
  }

  &:active {
    border: 1px solid color(primary-color);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $gray-50;
    color: $gray-200;
    box-shadow: none;

    & > .KDropdown-icon {
      color: $gray-200;
    }
  }

  &.--is-valid {
    border: 1px solid $success-200;
    color: $success-100;

    & > .KDropdown-icon {
      color: $success-100;
    }
  }

  &.--is-invalid {
    border: 1px solid $error-200;
    color: $error-100;

    & > .KDropdown-icon {
      color: $error-100;
    }
  }
}

.KDropdown-button {
  font-weight: $semi-bold;

  &.primary {
    background: color(primary-color) 0% 0% no-repeat padding-box;
    color: white;
    transition: 0.3s;

    &:hover {
      background-color: color(primary-300);
      box-shadow: 3px 4px 6px rgba(0, 0, 0, $alpha: 0.3);
    }

    &:focus {
      background-color: color(primary-700);
      box-shadow: 3px 4px 6px rgba(0, 0, 0, $alpha: 0.3);
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $gray-100;
      color: $gray-200;
      box-shadow: none;
    }
  }

  &.secondary {
    background: white 0% 0% no-repeat padding-box;
    color: color(primary-color);
    border: 1px solid color(primary-color);
    transition: 0.3s;

    &:hover {
      background-color: rgba($color: color(primary-100-rgb), $alpha: 0.2);
      color: color(primary-300);
    }

    &:focus {
      background-color: rgba($color: color(primary-300-rgb), $alpha: 0.3);
      color: color(primary-300);
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
      border-color: $gray-100;
      color: $gray-200;
      background-color: $gray-50;
      box-shadow: none;
    }
  }

  &.terciary {
    background: white 0% 0% no-repeat padding-box;
    color: color(primary-800);
    transition: 0.3s;

    &:hover {
      background-color: rgba($color: color(primary-100-rgb), $alpha: 0.2);
    }

    &:focus {
      background-color: rgba($color: color(primary-300-rgb), $alpha: 0.3);
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
      color: $gray-100;
      background-color: $gray-50;
    }
  }
}

.KDropdown-input-helper-text {
  display: block;
  font-size: 12px;
  color: $gray-400;
  margin-top: 8px;

  &.--is-valid {
    color: $success-200;
  }

  &.--is-invalid {
    color: $error-200;
  }
}

.KDropdown-options {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  border-radius: 4px;
  width: 100%;
  overflow-y: auto;
  z-index: $z-index-high;
  max-height: 200px;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #00000029;
  background-color: $gray-50;
}
