:host(.KSnackbar) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-300;
  padding: 16px;
  color: white;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.3);
  width: fit-content;
}

.KSnackbar-text {
  margin: 0;
  width: 100%;
  margin-right: 16px;
}
