@import '../../styles/partials/breakpoints';

:host(.KTableColumn) {
  padding: 8px;

  .KTableColumn-content {
    color: rgba($color: #000000, $alpha: 0.6);
    font-size: 14px;
    word-break: break-word;
  }
}

:host(.KTableColumn--col-1) {
  min-width: 0;
  max-width: calc(100% / 4 * 1);
  flex-basis: calc(100% / 4 * 1);

  @include small-tablet {
    max-width: calc(100% / 8 * 1);
    flex-basis: calc(100% / 8 * 1);
  }

  @include desktop {
    max-width: calc(100% / 10 * 1);
    flex-basis: calc(100% / 10 * 1);
  }
}
:host(.KTableColumn--col-2) {
  min-width: 0;
  max-width: calc(100% / 4 * 2);
  flex-basis: calc(100% / 4 * 2);

  @include small-tablet {
    max-width: calc(100% / 8 * 2);
    flex-basis: calc(100% / 8 * 2);
  }

  @include desktop {
    max-width: calc(100% / 10 * 2);
    flex-basis: calc(100% / 10 * 2);
  }
}
:host(.KTableColumn--col-3) {
  min-width: 0;
  max-width: calc(100% / 4 * 3);
  flex-basis: calc(100% / 4 * 3);

  @include small-tablet {
    min-width: 0;
    max-width: calc(100% / 8 * 3);
    flex-basis: calc(100% / 8 * 3);
  }

  @include desktop {
    min-width: 0;
    max-width: calc(100% / 10 * 3);
    flex-basis: calc(100% / 10 * 3);
  }
}
:host(.KTableColumn--col-4) {
  min-width: 0;
  max-width: calc(100% / 4 * 4);
  flex-basis: calc(100% / 4 * 4);

  @include small-tablet {
    max-width: calc(100% / 8 * 4);
    flex-basis: calc(100% / 8 * 4);
  }

  @include desktop {
    max-width: calc(100% / 10 * 4);
    flex-basis: calc(100% / 10 * 4);
  }
}
:host(.KTableColumn--col-5) {
  min-width: 0;
  max-width: calc(100% / 4 * 4);
  flex-basis: calc(100% / 4 * 4);

  @include small-tablet {
    max-width: calc(100% / 8 * 5);
    flex-basis: calc(100% / 8 * 5);
  }

  @include desktop {
    max-width: calc(100% / 10 * 5);
    flex-basis: calc(100% / 10 * 5);
  }
}
:host(.KTableColumn--col-6) {
  min-width: 0;
  max-width: calc(100% / 4 * 4);
  flex-basis: calc(100% / 4 * 4);

  @include small-tablet {
    max-width: calc(100% / 8 * 6);
    flex-basis: calc(100% / 8 * 6);
  }

  @include desktop {
    max-width: calc(100% / 10 * 6);
    flex-basis: calc(100% / 10 * 6);
  }
}
:host(.KTableColumn--col-7) {
  min-width: 0;
  max-width: calc(100% / 4 * 4);
  flex-basis: calc(100% / 4 * 4);

  @include small-tablet {
    max-width: calc(100% / 8 * 7);
    flex-basis: calc(100% / 8 * 7);
  }

  @include desktop {
    max-width: calc(100% / 10 * 7);
    flex-basis: calc(100% / 10 * 7);
  }
}
:host(.KTableColumn--col-8) {
  min-width: 0;
  max-width: calc(100% / 4 * 4);
  flex-basis: calc(100% / 4 * 4);

  @include small-tablet {
    max-width: calc(100% / 8 * 8);
    flex-basis: calc(100% / 8 * 8);
  }

  @include desktop {
    max-width: calc(100% / 10 * 8);
    flex-basis: calc(100% / 10 * 8);
  }
}
:host(.KTableColumn--col-9) {
  min-width: 0;
  max-width: calc(100% / 4 * 4);
  flex-basis: calc(100% / 4 * 4);

  @include small-tablet {
    max-width: calc(100% / 8 * 8);
    flex-basis: calc(100% / 8 * 8);
  }

  @include desktop {
    max-width: calc(100% / 10 * 9);
    flex-basis: calc(100% / 10 * 9);
  }
}
:host(.KTableColumn--col-10) {
  min-width: 0;
  max-width: calc(100% / 4 * 4);
  flex-basis: calc(100% / 4 * 4);

  @include small-tablet {
    max-width: calc(100% / 8 * 8);
    flex-basis: calc(100% / 8 * 8);
  }

  @include desktop {
    max-width: calc(100% / 10 * 10);
    flex-basis: calc(100% / 10 * 10);
  }
}
