@import './variables.scss';
@import './partials/_typography.scss';
@import './partials/_breakpoints.scss';
@import './partials/_normalize.scss';

// Icons
@import './modules/functions';
@import './modules/locations';
@import './partials/vuh-icons';

// variables to use externally
:root {
  --vuh-primary-color: #1b8df2;
  --vuh-primary-800: #0672d1;
  --vuh-primary-700: #0b7de0;
  --vuh-primary-600: #1986e6;
  --vuh-primary-500: #1b8df2;
  --vuh-primary-400: #339bf5;
  --vuh-primary-300: #45a3f5;
  --vuh-primary-200: #56abf5;
  --vuh-primary-100: #7fbef5;

  --vuh-primary-300-rgb: 69, 163, 245;
  --vuh-primary-100-rgb: 127, 190, 245;
}

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

// css utilities
// Text Modification
.k-text-center {
  text-align: center;
}

.k-text-start {
  text-align: start;
}

.k-text-end {
  text-align: end;
}

.k-text-left {
  text-align: left;
}

.k-text-right {
  text-align: right;
}

.k-text-justify {
  text-align: justify;
}

.k-text-wrap {
  white-space: normal;
}

.k-text-nowrap {
  white-space: nowrap;
}

// Text Transformation
.k-text-uppercase {
  text-transform: uppercase;
}

.k-text-lowercase {
  text-transform: lowercase;
}

.k-text-capitalize {
  text-transform: capitalize;
}

// Element Padding
.k-padding {
  padding: 16px;
}

.k-padding-top {
  padding-top: 16px;
}

.k-padding-left {
  padding-left: 16px;
}

.k-padding-right {
  padding-right: 16px;
}

.k-padding-bottom {
  padding-bottom: 16px;
}

.k-padding-vertical {
  padding: 16px 0;
}

.k-padding-horizontal {
  padding: 0 16px;
}

.k-no-padding {
  padding: 0;
}

// Element Margin
.k-margin {
  margin: 16px;
}

.k-margin-top {
  margin-top: 16px;
}

.k-margin-left {
  margin-left: 16px;
}

.k-margin-right {
  margin-right: 16px;
}

.k-margin-bottom {
  margin-bottom: 16px;
}

.k-margin-vertical {
  margin: 16px 0;
}

.k-margin-horizontal {
  margin: 0 16px;
}

.k-no-margin {
  margin: 0;
}

// Flex Container Properties
.k-justify-content-start {
  justify-content: flex-start;
}
.k-justify-content-end {
  justify-content: flex-end;
}
.k-justify-content-center {
  justify-content: center;
}
.k-justify-content-around {
  justify-content: space-around;
}
.k-justify-content-between {
  justify-content: space-between;
}
.k-justify-content-evenly {
  justify-content: space-evenly;
}
.k-align-items-start {
  align-items: flex-start;
}
.k-align-items-end {
  align-items: flex-end;
}
.k-align-items-center {
  align-items: center;
}
.k-align-items-baseline {
  align-items: baseline;
}
.k-align-items-stretch {
  align-items: stretch;
}
.k-nowrap {
  flex-wrap: nowrap;
}
.k-wrap {
  flex-wrap: wrap;
}
.k-wrap-reverse {
  flex-wrap: wrap-reverse;
}

// Flex Item Properties
.k-align-self-start {
  align-self: flex-start;
}
.k-align-self-end {
  align-self: flex-end;
}
.k-align-self-center {
  align-self: center;
}
.k-align-self-baseline {
  align-self: baseline;
}
.k-align-self-stretch {
  align-self: stretch;
}
.k-align-self-auto {
  align-self: auto;
}

// global style
* {
  font-family: 'Nunito Sans';
  box-sizing: border-box;
}

.storybook-preview-wrapper {
  background-image: radial-gradient(circle at 1px 1px, rgb(213 213 213 / 58%) 1px, transparent 0);
  background-size: 25px 25px;
}

.sb-show-main {
  font-family: 'Roboto', sans-serif;
  // background-color: #13171d;
  transition: background-color 0.3s;

  h2, p {
    color: #fafafa;
  }

  .code-block pre code {
    border-radius: 4px;
    border: 1px solid #474747;
    background-color: #252525;
    color: #c8c8c8;
    padding: 1em;
    overflow: overlay;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 7px black; 
      border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #9a9a9a; 
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #fafafa; 
    }
  }
}