.sb-show-main.sb-main-padded {
  background-image: radial-gradient(circle at 1px 1px, rgb(213 213 213 / 58%) 1px, transparent 0);
  background-size: 25px 25px;
}

.story-container {
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s; /* Firefox */
  -webkit-animation: fadein 1.5s; /* Safari and Chrome */
  -o-animation: fadein 1.5s; /* Opera */
}

.story-container > h1 {
  margin: 0;
}

.story-container > h2 {
  margin: 0;
  color: #0a0a0a;
}

.story-container > hr {
  border: 0;
  background: linear-gradient(to right, #0000004f 33%, #fff 0%) top/10px 1px repeat-x;
  height: 1px;
  margin-bottom: 1em;
}

.story-container a {
  color: #45A3F5;
  text-decoration: none;
}

.story-container a:hover {
  color: #3a91dd;
}

.story-container > .story-description p {
  color: #505050;
}

.story-container pre {
  border: 1px solid #5c5c5c;
  border-radius: 4px;
  background-color: #312c2a;
  color: #c4bdb8;
  opacity: 0;
  height: 0;
  padding: .5em;
  overflow-x: overlay;
  font-weight: bold;
}

.story-container pre.show {
  animation: fadein .8s;
  -moz-animation: fadein .8s; /* Firefox */
  -webkit-animation: fadein .8s; /* Safari and Chrome */
  -o-animation: fadein .8s; /* Opera */
  opacity: 1;
  height: 100%;
}

.story-container pre.hide {
  animation: fadeout .5s;
  -moz-animation: fadeout .5s; /* Firefox */
  -webkit-animation: fadeout .5s; /* Safari and Chrome */
  -o-animation: fadeout .5s; /* Opera */
  opacity: 0;
  height: 0;
}

/* width */
.story-container pre::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.story-container pre::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px black; 
  border-radius: 10px;
}

/* Handle */
.story-container pre::-webkit-scrollbar-thumb {
  background: #9a9a9a; 
  border-radius: 10px;
}

/* Handle on hover */
.story-container pre::-webkit-scrollbar-thumb:hover {
  background: #fafafa; 
}

.code-container > button {
  margin-top: 1em;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: .5em;
  background: #f2f2f2;
  color: #0a0a0a;
  transition: all 0.3s ease 0s
}

.code-container > button:hover {
  cursor: pointer;
  background-color: #45A3F5;
  color: #fafafa;
}

.code-container code {
  font-style: oblique;
}

.code-container code .token {
  font-family: monospace, monospace;
  font-style: normal;
}

.code-container code .token.tag {
  font-weight: normal;
  color: #e27a62;
}

.code-container code .token.punctuation {
  color: #b6a8a6;
}

.code-container code .token.attr-name {
  color: #f3a695;
}

.code-container code .token.attr-value {
  color: #c4897c;
  font-style: oblique;
}

/*
- - 1 - -

.code-container code .token {
  font-family: monospace, monospace;
  font-style: normal;
}

.code-container code .token.tag {
  color: #c07c6c;
}

.code-container code .token.punctuation {
  color: #ae928d;
}

.code-container code .token.attr-name {
  color: #dcaea4;
}

.code-container code .token.attr-value {
  color: #b66654;
}




*/


/* - - - - Animations - - - - */

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

/*--*/

@keyframes fadeout {
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}
@-moz-keyframes fadeout { /* Firefox */
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}
@-o-keyframes fadeout { /* Opera */
  from {
      opacity:1;
  }
  to {
      opacity: 0;
  }
}