$regular: 400;
$semi-bold: 600;
$bold: 700;

/* Nunito Sans regular */
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans/NunitoSans-Regular.ttf') format('truetype');
  font-weight: $regular;
  font-style: normal;
}

/* Nunito Sans semi-bold */
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans/NunitoSans-SemiBold.ttf') format('truetype');
  font-weight: $semi-bold;
  font-style: normal;
}

/* Nunito Sans bold */
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans/NunitoSans-Bold.ttf') format('truetype');
  font-weight: $bold;
  font-style: normal;
}

/* Vuh Icons */
@font-face {
  font-family: 'Vuh Icons';
  src: url('../fonts/VuhIcons/VuhIcons.ttf') format('truetype');
  font-weight: $regular;
  font-style: normal;
}
