// variables to use locally
$primary-color: #1b8df2;
$primary-800: #0672d1;
$primary-700: #0b7de0;
$primary-600: #1986e6;
$primary-500: #1b8df2;
$primary-400: #339bf5;
$primary-300: #45a3f5;
$primary-200: #56abf5;
$primary-100: #7fbef5;

$gray-500: #3d3d3d;
$gray-400: #575757;
$gray-300: #707070;
$gray-200: #a3a3a3;
$gray-100: #d6d6d6;
$gray-50: #f7f7f7;

$error-200: #f54a64;
$error-100: #fa788b;

$warning-200: #fae26f;
$warning-100: #faedac;

$success-200: #3ac997;
$success-100: #42e3ad;

// z-index values
$z-index-low: -9;
$z-index-medium: 9;
$z-index-high: 999;
