:host(.KTab) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  background-color: white;
}

.KTab--selected {
  position: absolute;
  height: 2px;
  background-color: color(primary-color);
  bottom: 0;
  transition: 0.3s;
  will-change: transform;
}
