:host {
  & > .KAvatar {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
  }

  & > .small {
    height: 40px;
    width: 40px;
  }

  & > .medium {
    height: 72px;
    width: 72px;
  }

  & > .large {
    height: 120px;
    width: 120px;
  }
}
