.KDrawer {
  height: 100%;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.6);
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;

  .KDrawer-sidenav {
    height: 100vh;
    width: 70%;
    background-color: white;
    transition: 0.3s;
    transform: translateX(-100%);

    @include small-tablet {
      width: 40%;
    }
  }
}
