.KNotification {
  &:hover .KNotification-content {
    display: block;
  }

  .KNotification-button {
    font-weight: normal;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    transition: 0.3s;
    will-change: transform, background-color;
    position: relative;
    color: color(primary-color);
    width: max-content;
    border: none;
    background-color: transparent;
    outline: none;

    &.KNotification-opened {
      background-color: rgba($color: color(primary-100-rgb), $alpha: 0.4);
    }

    &:hover {
      background-color: rgba($color: color(primary-100-rgb), $alpha: 0.2);
    }

    &:active {
      transform: scale(0.9);
      background-color: rgba($color: color(primary-100-rgb), $alpha: 0.4);
    }

    &::before {
      transform: rotate(45deg);
    }

    .KNotification-bell {
      &.animate {
        animation-name: notification;
        animation-duration: 0.3s;
        animation-timing-function: ease-out;
        animation-iteration-count: 4;
        animation-direction: alternate;
        transform-origin: center top;
      }
    }

    &::after {
      content: attr(data-count);
      min-width: 14px;
      height: 14px;
      color: white;
      background-color: color(primary-color);
      font-size: 10px;
      font-weight: bold;
      border-radius: 50%;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: -6px;

      opacity: 0;
      transition: 0.3s;
      transform: scale(0.5);
      will-change: opacity, transform;
    }

    &.KNotification--is-notified {
      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .KNotification-content {
    position: absolute;
    display: none;
    min-width: 350px;
    width: 100%;
    z-index: $z-index-medium;
    right: 0;

    @include small-tablet {
      width: 30%;
      right: 2%;
    }

    &.KNotification-content--is-open {
      display: block;
    }
  }
}

@keyframes notification {
  from {
    transform: rotate(35deg);
  }

  to {
    transform: rotate(-35deg);
  }
}
