:host {
  display: block;
}

.KButton {
  width: 100%;
  font-weight: $semi-bold;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  /**
      * Colors
      **/

  &.primary {
    background: color(primary-color) 0% 0% no-repeat padding-box;
    border: none;
    color: white;
    transition: 0.3s;

    &:hover,
    &:focus {
      background-color: color(primary-300);
      box-shadow: 3px 4px 6px rgba(0, 0, 0, $alpha: 0.3);
    }

    &:active {
      background-color: color(primary-700);
      box-shadow: 3px 4px 6px rgba(0, 0, 0, $alpha: 0.3);
    }

    &:disabled {
      background-color: $gray-100;
      color: $gray-200;
      cursor: not-allowed;
      box-shadow: none;
    }
  }

  &.secondary {
    background: transparent;
    border: 1px solid color(primary-color);
    border-radius: 4px;
    color: color(primary-color);
    transition: 0.3s;

    &:hover,
    &:focus {
      background-color: rgba($color: color(primary-100-rgb), $alpha: 0.2);
      color: color(primary-300);
    }

    &:active {
      background-color: rgba($color: color(primary-300-rgb), $alpha: 0.2);
      color: color(primary-300);
    }

    &:disabled {
      border-color: $gray-100;
      color: $gray-200;
      background-color: $gray-50;
      cursor: not-allowed;
    }
  }

  &.terciary {
    background: transparent;
    border: none;
    color: color(primary-800);
    transition: 0.4s;

    &:hover,
    &:focus {
      background-color: rgba($color: color(primary-100-rgb), $alpha: 0.2);
      color: color(primary-800);
    }

    &:active {
      background-color: rgba($color: color(primary-300-rgb), $alpha: 0.3);
      color: color(primary-800);
    }

    &:disabled {
      background-color: $gray-50;
      color: $gray-100;
      cursor: not-allowed;
    }
  }

  /**
      * Shape
      **/

  &.full {
    border-radius: none;
  }

  &.round {
    border-radius: 5rem;
    overflow: hidden;
    min-width: 56px;
  }

  &.smooth {
    border-radius: 4px;
  }

  /**
      * Size
      **/

  &.large {
    padding: 12px;
  }

  &.medium {
    padding: 8px;
  }

  &.small {
    padding: 4px;
  }

  /**
      * Elevation
      **/

  &.elevation {
    box-shadow: 3px 4px 6px rgba(0, 0, 0, $alpha: 0.3);
  }
}
