.KListItem {
  list-style: none;
  cursor: pointer;
  color: rgba($color: $gray-500, $alpha: 0.7);
  padding: 16px;

  &:hover  {
    background-color: rgba($color: color(primary-100-rgb), $alpha: 0.3);
  }

  &:active {
    background-color: rgba($color: color(primary-100-rgb), $alpha: 0.6);
  }
}
