.KInput {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 8px;
  font-size: 14px;

  input {
    width: 100%;
    border: 1px solid $gray-200;
    padding: 16px 8px;
    border-radius: 4px;
    color: $gray-400;
    border-top-color: transparent;
    caret-color: $primary-300;
    transition: border 0.2s;

    // placeholder-shown
    &:not(:focus):placeholder-shown + label {
      font-size: inherit;
      line-height: 68px;
      font-weight: $regular;
    }

    &:not(:focus):placeholder-shown {
      border-top-color: $gray-200;
    }

    &:not(:focus):placeholder-shown + label::before,
    &:not(:focus):placeholder-shown + label::after {
      border-top-color: transparent;
    }

    // focus
    &:focus {
      border-color: $primary-100;
      border-top-color: transparent;
      outline: none;
    }

    &:focus + label {
      color: $primary-300;
    }

    &:focus + label::before,
    &:focus + label::after {
      border-top-color: $primary-100;
    }

    // disabled
    &:disabled,
    &:disabled + label {
      color: $gray-200;
      cursor: not-allowed;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    color: $gray-200;
    font-size: 12px;
    font-weight: $bold;
    line-height: 15px;
    cursor: text;

    display: flex;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;

    &::before,
    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      margin-top: 8px;
      border-top: solid 1px;
      border-top-color: $gray-200;
      min-width: 10px;
      height: 8px;
      pointer-events: none;
      box-shadow: inset 0 1px transparent;
      transition: border-color 0.2s, box-shadow 0.2s;
    }

    &::before  {
      margin-right: 4px;
      border-left: 1px solid transparent;
      border-radius: 4px 0;
    }

    &::after {
      flex-grow: 1;
      margin-left: 4px;
      border-right: 1px solid transparent;
      border-radius: 0 4px;
    }
  }
}
