.KInput {
  --pure-material-safari-helper1: rgb(
    var(--pure-material-primary-rgb, 33, 150, 243)
  );
  position: relative;
  display: inline-block;
  padding-top: 6px;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;

  input {
    padding: 16px 8px;
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-top-color: transparent;
    border-radius: 4px;
    width: 100%;
    height: inherit;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: transparent;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transition: border 0.2s, box-shadow 0.2s;
    // box-shadow: none; /* Firefox */
    // border: solid 1px; /* Safari */
  }

  span {
    font-size: 14px;
    color: $gray-200;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    width: 100%;
    max-height: 100%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;

    &::before,
    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      margin-top: 6px;
      border-top: solid 1px;
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      min-width: 10px;
      height: 8px;
      pointer-events: none;
      box-shadow: inset 0 1px transparent;
      transition: border-color 0.2s, box-shadow 0.2s;
    }

    &::before  {
      margin-right: 4px;
      border-left: solid 1px transparent;
      border-radius: 4px 0;
    }

    &::after {
      flex-grow: 1;
      margin-left: 4px;
      border-right: solid 1px transparent;
      border-radius: 0 4px;
    }
  }
}

/* Hover */
.KInput:hover > input,
.KInput:hover > textarea {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  border-top-color: transparent;
}

.KInput:hover > input + span::before,
.KInput:hover > textarea + span::before,
.KInput:hover > input + span::after,
.KInput:hover > textarea + span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.KInput:hover > input:not(:focus):placeholder-shown,
.KInput:hover > textarea:not(:focus):placeholder-shown {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

/* Placeholder-shown */
.KInput > input:not(:focus):placeholder-shown,
.KInput > textarea:not(:focus):placeholder-shown {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

.KInput > input:not(:focus):placeholder-shown + span,
.KInput > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 68px;
}

.KInput > input:not(:focus):placeholder-shown + span::before,
.KInput > textarea:not(:focus):placeholder-shown + span::before,
.KInput > input:not(:focus):placeholder-shown + span::after,
.KInput > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Focus */
.KInput > input:focus,
.KInput > textarea:focus {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  border-top-color: transparent;
  box-shadow: inset 1px 0 var(--pure-material-safari-helper1),
    inset -1px 0 var(--pure-material-safari-helper1),
    inset 0 -1px var(--pure-material-safari-helper1);
  outline: none;
}

.KInput > input:focus + span,
.KInput > textarea:focus + span {
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.KInput > input:focus + span::before,
.KInput > input:focus + span::after,
.KInput > textarea:focus + span::before,
.KInput > textarea:focus + span::after {
  border-top-color: var(--pure-material-safari-helper1) !important;
  box-shadow: inset 0 1px var(--pure-material-safari-helper1);
}

/* Disabled */
// .KInput > input:disabled,
// .KInput > input:disabled + span,
// .KInput > textarea:disabled,
// .KInput > textarea:disabled + span {
//   border-color: rgba(
//     var(--pure-material-onsurface-rgb, 0, 0, 0),
//     0.38
//   ) !important;
//   border-top-color: transparent !important;
//   color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
//   pointer-events: none;
// }

// .KInput > input:disabled + span::before,
// .KInput > input:disabled + span::after,
// .KInput > textarea:disabled + span::before,
// .KInput > textarea:disabled + span::after {
//   border-top-color: rgba(
//     var(--pure-material-onsurface-rgb, 0, 0, 0),
//     0.38
//   ) !important;
// }

// .KInput > input:disabled:placeholder-shown,
// .KInput > input:disabled:placeholder-shown + span,
// .KInput > textarea:disabled:placeholder-shown,
// .KInput > textarea:disabled:placeholder-shown + span {
//   border-top-color: rgba(
//     var(--pure-material-onsurface-rgb, 0, 0, 0),
//     0.38
//   ) !important;
// }

// .KInput > input:disabled:placeholder-shown + span::before,
// .KInput > input:disabled:placeholder-shown + span::after,
// .KInput > textarea:disabled:placeholder-shown + span::before,
// .KInput > textarea:disabled:placeholder-shown + span::after {
//   border-top-color: transparent !important;
// }

/* Faster transition in Safari for less noticable fractional font-size issue */
// @media not all and (min-resolution: 0.001dpcm) {
//   @supports (-webkit-appearance: none) {
//     .KInput > input,
//     .KInput > input + span,
//     .KInput > textarea,
//     .KInput > textarea + span,
//     .KInput > input + span::before,
//     .KInput > input + span::after,
//     .KInput > textarea + span::before,
//     .KInput > textarea + span::after {
//       transition-duration: 0.1s;
//     }
//   }
// }
