:host {
  display: flex;
  justify-content: center;
  background-color: rgba($color: $gray-100, $alpha: 0.4);
  padding: 4px;
  border-radius: 4px;
  color: color(primary-color);
  font-weight: $semi-bold;
  cursor: pointer;
  transition: 0.3s;
  min-width: fit-content;
  max-width: fit-content;
}

:host(:hover) {
  background-color: rgba($color: $gray-100, $alpha: 1);
}

:host(:active) {
  background-color: rgba($color: $gray-100, $alpha: 0.4);
}
