.KDropdownItem {
  display: block;
  cursor: pointer;
  border-bottom: 1px solid $gray-100;
  padding: 8px;
  min-width: max-content;
  user-select: none;

  &:hover  {
    background-color: rgba($color: $gray-100, $alpha: 0.3);
  }

  .KDropdownItem-input {
    display: none;
  }

  .KDropdownItem-text {
    font-weight: $semi-bold;
    color: $gray-400;
  }
}

.KDropdownItem-disabled {
  cursor: not-allowed;
}
